@charset "UTF-8";

// Page navigation
.page-navigation {
  display: flex;
  align-items: center;

  .navigation-arrow {
    padding: 1.7rem 1.4rem;
    border-radius: 100%;
  
    & ~ .navigation-arrow {
      margin-left: 4.25vw;
    }
    &.active {
      background-color: $color-primary;
    }
  }
}