@charset "UTF-8";

// Page container
.container {
  padding: 13.85vw 10vw 0 10vw;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 9vw;
  }
}

// Page navigation
.page-navigation {
  display: flex;
  align-items: center;

  .navigation-arrow {
    padding: 1.7rem 1.4rem;
    border-radius: 100%;
  
    & ~ .navigation-arrow {
      margin-left: 4.25vw;
    }
    &.active {
      background-color: $color-primary;
    }
  }
}