@charset "UTF-8";

// Header
.header {
  position: relative;
  padding-top: 5.2rem;
  overflow: hidden;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
  }

  .header-botton {
    margin-top: 4.4rem;
    position: relative;
    z-index: 1;
  }

  input#menuburger {
    display: none;
  }
}